*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#82c9d0;
    color:#222;
    line-height:1.8;
}

header{
    background:#16344f;
    color:white;
    text-align:center;
    padding:40px 20px;
}

header h1{
   font-weight: 700;
   text-align: center;
   font-size: 65px;
   animation: glow 2.5s ease-in-out infinite;
   color: #bdebf3;
}
@keyframes glow {
    0% {
    text-shadow: 0 0 5px #96dce9, 0 0 10px #95d3d5;
    }
    50% {
    text-shadow: 0 0 15px #7ac0d2, 0 0 25px #87e6e9;
    }
    100% {
    text-shadow: 0 0 5px #5cb2b2, 0 0 10px #59b1b4;
    }
}

header p{
   font-size: 25px;
   margin-top: 10px;
   max-width: 500px;
   margin-inline: auto;
   color:#68ade9
}

nav a{
    color:white;
    text-decoration:none;
    margin:0 15px;
    font-weight:bold;
}

nav a:hover{
    color:#8dc8ff;
}

.capa{
    display:flex;
    justify-content:center;
    margin:40px 0;
}

.capa img{
    width:260px;
    border-radius:15px;
    box-shadow:0 10px 30px rgba(0,0,0,.2);
}

section{
    width:80%;
    max-width:1000px;
    margin:50px auto;
}

h2{
    color:#16344f;
    margin-bottom:20px;
    border-left:6px solid #16344f;
    padding-left:15px;
}

.cards{
    display:flex;
    gap:20px;
    flex-wrap:wrap;
}

.card{
    background:rgb(193, 235, 237);
    padding:20px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
    flex:1;
    min-width:250px;
}

ul{
    margin-left:25px;
    background:rgb(56, 140, 145);
    padding:20px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(247, 6, 6, 0.1);
    flex:1;
    min-width:250px;
}

footer{
    background:#16344f;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:60px;
}
