
.imagem {
    height: 40vh;
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
    url("https://www.editorasulina.com.br/img/thumbs/615.jpg") center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-texto h1 {
    text-align: center;
    font-size: 60px;
    animation: aparecer 1s ease, glow 2.5s ease-in-out infinite;
    color: #bdebf3;
}
@keyframes glow {
    0% {
        text-shadow: 0 0 5px #b6f4ff, 0 0 10px #b6fdff;
    }
    50% {
        text-shadow: 0 0 15px #d1f6ff, 0 0 25px #b6fdff;
    }
    100% {
        text-shadow: 0 0 5px #b6ffff, 0 0 10px #b6fdff;
    }
}

.hero {
    height: 90vh;
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
  center/cover no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    text-align: center;
    color: #dde8e7;
    overflow: hidden;
}

.hero-texto p {
    font-size: 18px;
    margin-top: 10px;
    max-width: 500px;
    margin-inline: auto;
    animation: aparecer 1.3s ease;
}


.caixa-cartoes{
    display: flex;
    justify-content: space-evenly;
}

.caixote{
    width: 300px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    border-radius: 15px;
    box-shadow: 2px 2px 5px 10px #888888;

}

.caixote img{
    width: 100%;
    border-radius: 15px;
}

.item h2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.item p{
    padding: 5px;
    text-align: justify;
}
